body {
}
caption 
{
    caption-side: top;
    text-align:center;
    padding: 0 auto;
    color:white;
    text-transform:uppercase;
   
}
.table 
{
     margin:0 30% !important;
     text-align:center;
     
}
